<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="BookshelfPlugin"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <meta-data
            android:name="plugin.id"
            android:value="org.appdevforall.bookshelfplugin" />

        <meta-data
            android:name="plugin.name"
            android:value="Bookshelf" />

        <meta-data
            android:name="plugin.version"
            android:value="${pluginVersion}" />

        <meta-data
            android:name="plugin.description"
            android:value="Adds reference materials and textbooks that you can access from the Bookshelf page in Code On The Go's help." />

        <meta-data
            android:name="plugin.author"
            android:value="App Dev for All" />

        <meta-data
            android:name="plugin.min_ide_version"
            android:value="26.22" />

        <meta-data
            android:name="plugin.max_ide_version"
            android:value="26.23" />

        <meta-data
            android:name="plugin.permissions"
            android:value="ide.environment.write,filesystem.read,filesystem.write" />

        <meta-data
            android:name="plugin.main_class"
            android:value="org.appdevforall.bookshelfplugin.BookshelfPlugin" />

    </application>

</manifest>
