<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Sketch to UI"
        android:theme="@style/Theme.SketchToUiPlugin">

        <meta-data
            android:name="plugin.id"
            android:value="com.appdevforall.sketchtoui.plugin" />

        <meta-data
            android:name="plugin.name"
            android:value="Sketch to UI" />

        <meta-data
            android:name="plugin.version"
            android:value="${pluginVersion}" />

        <meta-data
            android:name="plugin.description"
            android:value="Convert sketches and UI screenshots into Android XML layouts." />

        <meta-data
            android:name="plugin.author"
            android:value="App Dev for All" />

        <meta-data
            android:name="plugin.min_ide_version"
            android:value="1.0.0" />

        <meta-data
            android:name="plugin.permissions"
            android:value="filesystem.read,filesystem.write,project.structure,native.code" />

        <meta-data
            android:name="plugin.main_class"
            android:value="com.appdevforall.sketchtoui.plugin.SketchToUiPlugin" />

        <meta-data
            android:name="plugin.sidebar_items"
            android:value="1" />

        <meta-data
            android:name="plugin.icon_day"
            android:value="assets/icon_day.png" />

        <meta-data
            android:name="plugin.icon_night"
            android:value="assets/icon_night.png" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

    </application>
</manifest>
