<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="@string/app_name"
        android:theme="@style/PluginTheme">

        <meta-data
            android:name="plugin.id"
            android:value="com.ali.fluttertemplate" />

        <meta-data
            android:name="plugin.name"
            android:value="Flutter Template" />

        <meta-data
            android:name="plugin.version"
            android:value="${pluginVersion}" />

        <meta-data
            android:name="plugin.description"
            android:value="Adds Flutter starter project templates (Basic, BLoC, Provider, GetX, Riverpod) to the New Project screen." />

        <meta-data
            android:name="plugin.author"
            android:value="Ali" />

        <meta-data
            android:name="plugin.min_ide_version"
            android:value="26.22" />

        <meta-data
            android:name="plugin.max_ide_version"
            android:value="26.28" />

        <!--
            Available permissions (comma-separated):
              - filesystem.read    : Read files from the filesystem
              - filesystem.write   : Write files to the filesystem
              - network.access     : Access the network
              - system.commands    : Execute system commands
              - ide.settings       : Access IDE settings
              - project.structure  : Access project structure
        -->
        <meta-data
            android:name="plugin.permissions"
            android:value="filesystem.read,filesystem.write" />

        <meta-data
            android:name="plugin.main_class"
            android:value="com.ali.fluttertemplate.FlutterTemplate" />

        <meta-data
            android:name="plugin.icon_day"
            android:value="assets/icon_day.png" />

        <meta-data
            android:name="plugin.icon_night"
            android:value="assets/icon_night.png" />

    </application>

</manifest>
