<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itsaky.androidide.plugins.codesuggestions">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Code Suggestions Plugin"
        android:theme="@style/PluginTheme">

        <!-- Plugin metadata -->
        <meta-data
            android:name="plugin.id"
            android:value="com.itsaky.androidide.plugins.codesuggestions" />

        <meta-data
            android:name="plugin.name"
            android:value="Code Suggestions" />

        <meta-data
            android:name="plugin.version"
            android:value="${pluginVersion}" />

        <meta-data
            android:name="plugin.description"
            android:value="Inline ghost-text code completions powered by AI" />

        <meta-data
            android:name="plugin.author"
            android:value="AndroidIDE" />

        <meta-data
            android:name="plugin.min_ide_version"
            android:value="1.0.0" />

        <meta-data
            android:name="plugin.permissions"
            android:value="ide.settings,network.access" />

        <meta-data
            android:name="plugin.main_class"
            android:value="com.itsaky.androidide.plugins.codesuggestions.CodeSuggestionsPlugin" />

        <meta-data
            android:name="plugin.icon_day"
            android:value="assets/icon_day.png" />

        <meta-data
            android:name="plugin.icon_night"
            android:value="assets/icon_night.png" />

    </application>

</manifest>
