<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="APK Viewer"
        android:theme="@style/PluginTheme">

        <!-- Plugin metadata -->
        <meta-data
            android:name="plugin.id"
            android:value="com.example.apkanalyzer" />

        <meta-data
            android:name="plugin.name"
            android:value="APK Analyzer" />

        <meta-data
            android:name="plugin.version"
            android:value="${pluginVersion}" />

        <meta-data
            android:name="plugin.description"
            android:value="See a structural analysis of your APK." />

        <meta-data
            android:name="plugin.author"
            android:value="App Dev for All" />

        <meta-data
            android:name="plugin.min_ide_version"
            android:value="1.0.0" />

        <meta-data
            android:name="plugin.permissions"
            android:value="filesystem.read,filesystem.write,project.structure" />

        <meta-data
            android:name="plugin.main_class"
            android:value="com.example.sampleplugin.ApkAnalyzer" />

        <meta-data
            android:name="plugin.sidebar_items"
            android:value="1" />


    </application>

</manifest>
